<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Async/Await Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .box {
            box-sizing: border-box;
            width: 100%;
            margin: 0 auto;
            overflow-y: auto;
        }

        #body {
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: helvetica;
            text-align: center;
        }
    </style>

</head>
<body id="body" class="box">

    <div class="box">
        <h1>Demo Promise Crazy</h1>
    </div>

    <script>
        ( () => { setupPage() })();

        async function setupPage() {

            console.log('start setup');

            let getA = fetch('/color/00ff00/3')
                .then( (res) => {
                    return res.json();
                })
                .then( (data) => {
                    updateBkgdColor(data.color);
                    console.log('I assure you getA happened');
                });

            function getB() {
                fetch('/color/0000ff/6')
                    .then( (res) => {
                        return res.json();
                    })
                    .then( (data) => {
                        if (getA.isResolved) {
                            updateBkgdColor(data.color);
                        }
                    });
            };

            console.log('requests fired', getA);


            setTimeout( () => {
                updateBkgdColor('#ff0000');
                console.log('manually change color after 1 sec until the first fetch is resolved', getA, getB);
            }, 1000);
        }

        function updateBkgdColor (hex) {
            document.getElementById('body').style.backgroundColor = hex;
        }
    </script>

</body>
</html>
